<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BackeryShop"
        tools:targetApi="31">
        <activity
            android:name=".InterFaces.Shop_Owner_Daily_Root"
            android:exported="false" />
        <activity
            android:name=".Model.Testing2"
            android:exported="false"/>
        <activity
            android:name=".InterFaces.Order_Recycler_View"
            android:exported="false" />
        <activity
            android:name=".InterFaces.Cart_Recycler_View"
            android:exported="false" />
        <activity
            android:name=".InterFaces.User_Sign_Up"
            android:exported="false" />
        <activity
            android:name=".InterFaces.itemDetails"
            android:exported="false" />
        <activity
            android:name=".Model.Testing"
            android:exported="false" />
        <activity
            android:name=".InterFaces.Add_Product_Page"
            android:exported="false" />
        <activity
            android:name=".InterFaces.Shop_Owner_Main_Dashboard"
            android:exported="false" />
        <activity
            android:name=".InterFaces.Shop_Login_InterFace"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InterFaces.ShopOwner_Sign_up"
            android:exported="false" />
        <activity
            android:name=".MainDashboard"
            android:exported="false" />
        <activity
            android:name=".UserSign_In"
            android:exported="false" />
        <activity
            android:name=".SignIn"
            android:exported="false" />
        <activity
            android:name=".SelectUser"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD2gI9ZCWkRP7E2BF8cOtNBZqMCCKxLf7w" />
    </application>

</manifest>